/* DONE: Add a rule for images, so they never exceed their container's width. */



body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  background: #e5e1d1;
}

hr {
  margin: 1em;
  width: 80%;
}

img {
  width: auto;
  max-width: 100%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

@media only screen and (min-width: 640px) {
  img {
    width: auto;
  }
}
